freqtrade-git/.git
freqtrade-git/.gitignore
freqtrade-git/Dockerfile
freqtrade-git/Dockerfile.armhf
freqtrade-git/.dockerignore
freqtrade-git/docker/
freqtrade-git/.coveragerc
freqtrade-git/.eggs
freqtrade-git/.github
freqtrade-git/.pylintrc
freqtrade-git/.travis.yml
freqtrade-git/CONTRIBUTING.md
freqtrade-git/MANIFEST.in
freqtrade-git/README.md
freqtrade-git/freqtrade.service
freqtrade-git/freqtrade.egg-info

freqtrade-git/config.json*
freqtrade-git/*.sqlite
freqtrade-git/user_data
freqtrade-git/*.log

freqtrade-git/.vscode
freqtrade-git/.mypy_cache
freqtrade-git/.ipynb_checkpoints
